@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Yaldevi:wght@600;700&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.mother {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    top: 0;
    position: sticky;
    opacity: 0.9;
    border-bottom: 1px solid lightgray;
    height: 100px;
}

.logo img{
    width: 40px;
    height: 40px;
    align-items: center;
}

.menuItem {
    text-decoration: none;
    color: inherit;
    font-size: 17px;
    margin-right: 40px;
}

.menuItem:hover {
    border-bottom-style: solid;
}

.mobilemenu {
    display: none;
    max-width: 1000px;
    cursor: pointer;
    user-select: none;
}

.overLayMenu {
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: absolute;
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.overLayMenuTextContainer {
    background-color: #FAFAFA;
    margin-bottom: 5px;
    padding: 15px;
}

.overLayMenuText {
    margin-bottom: 50px;
    font-size: 23px;
    text-decoration: none;
    color: rgb(63, 63, 60);
    margin-left: 25px;
}

.overLayMenuText:hover {
    border-bottom-style: solid;
}

a:hover {
    opacity: 0.7;
}

.maincontainer {
    max-width: 890px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.left {
    display: inline-block;
    width: 50%;
   
}

.inner {
    width: 300px;
}

.gradient-text{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(
        83.84deg, rgb(0, 136, 255) -6.87%, rgb(160, 51, 255) 26.54%, rgb(255, 92, 135) 58.58%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 45px;
}

.textheader {
    margin-bottom: 20px;
    font-size: 20px;
}

.box {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    font-size: 16px;
    background-color: #FAFAFA;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    display: block;
    border: 1px solid lightgray;
}

.button {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    font-size: 18px;
    border: none;
    background-color: #0084FF;
    padding: 10px;
    color: white;
    
}

.checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.password {
    margin-bottom: 10px;
}

.MicroLogo {
    width: 150px;
    height: 43px;
    display: block;
}

.right {
    display: inline-block;
    width: 50%;
}

.rightimg {
    width: 500px;
    height: 300px;
    margin-top: 30px;
}

.footer {
    font-size: 35px;
    margin-top: 50px;
    background-color: #FAFAFA;
    text-align: center;
    padding: 30px;
}

.languages form select{
    border: none;
    outline: none;
    color: inherit;
    overflow: scroll;
    cursor: pointer;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 0;
}

.languages:hover {
    border-bottom-style: solid;
    display: inline-block;
}

@media (max-width: 746px) {

    .mother {
        border-bottom: none;
        z-index: 1;
    }
    
    .mobilemenu {
        display: inline;
        margin-right: 20px;
        cursor: pointer;
        user-select: none;
    }

    .mobileMenuline {
        width: 35px;
        height: 4px;
        margin: 5px 0px;
        background-color: #525353;
        border-radius: 10px;
    }

    .line1, .line2, .overLayMenu {
        transition: all 0.2s ease;
    }
    
    .rotatePlus45Deg {
        transform: rotate(45deg) translate(2px, 5px);
    }
    
    .rotateMinus45Deg {
        transform: rotate(-45deg) translate(2px, -5px);
    }
    
    .showOverLayMenu {
        opacity: 0.93;
    }

    .rightTag {
        opacity: 0.2;
    }

    .footerTag {
        opacity: 0.2;
    }

    .motherTag {
        position: sticky;
        z-index: 1;
    }

    .menucontainer {
        display: none;
    }

    .mother {
        justify-content: space-between;
    }

    .logo {
        margin-left: 20px;
    }

    .left {
        width: 100%;
    }

    .inner {
        width: 64%;
        margin: 0 auto;
    }

    .right {
        width: 100%; /* % vh နဲ့ ပေးထားလို့ မသက်ရောက်တာ overLayMenu က */
    }

    .rightimg {
        margin: 30px 50px 0px;
    }
}

@media (max-width: 375px) {
    .inner {
        width: 95%;
    }

    .footer {
        margin-top: 30px;
        font-size: 30px;
        padding: 10px;
    }
}

